In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv(
    "../data/cleaned/train.csv", 
    parse_dates=["date_received", "date_sent_to_company"]
)

df_test = pd.read_csv(
    "../data/cleaned/test.csv",
    parse_dates=["date_received", "date_sent_to_company"]
)

In [3]:
df_train.head()

,date_received,transaction_type,complaint_reason,consumer_complaint_summary,date_sent_to_company,company_response,consumer_disputes,complaint_status
0,2015-03-19,Debt collection,Cont'd attempts collect debt not owed,Je ne dois pas d'argent à cette société. En fa...,2015-03-19,NaN,No,Closed with non-monetary relief
1,2015-03-19,Mortgage,Settlement process and costs,Carrington Mortgage Services Research dpt.\nXX...,2015-03-19,NaN,No,Closed with explanation
2,2015-03-19,Debt collection,Improper contact or sharing of info,After hiring a lawyer in XXXX XXXX due to the ...,2015-03-30,Company chooses not to provide a public response,No,Closed with explanation
3,2015-03-19,Student loan,Dealing with my lender or servicer,"XXXX XXXX, XXXX I submitted the documentation ...",2015-03-25,Company chooses not to provide a public response,No,Closed with explanation
4,2015-03-19,Credit reporting,Incorrect information on credit report,Cet article a dépassé le délai de prescription...,2015-03-19,NaN,Yes,Closed with explanation

### Missing value count

In [4]:
def missing_value_stats(df: pd.DataFrame):
    """
        Considering the count of NaN points only
    """
    num_rows = df.shape[0]
    # Missing value count by columns
    df_missing = df.isna().sum().reset_index()
    # Renaming columns
    df_missing.columns = ['column', 'missing_values']
    # Getting only those columns having missing values > 0
    df_missing = df_missing[df_missing['missing_values'] > 0]
    df_missing.reset_index(drop=True, inplace=True)
    # Calculating percentage of missing
    df_missing['missing_percentage'] = df_missing['missing_values'].apply(
        lambda missing_value: round((missing_value / num_rows) * 100, 2)
    )

    if df_missing.shape[0] > 0:
        display(df_missing)
    else:
        return "The dataset has no NaNs"

In [5]:
missing_value_stats(df=df_train)

              column  missing_values  missing_percentage
0   company_response           22506               52.02
1  consumer_disputes            7698               17.79

In [6]:
missing_value_stats(df=df_test)

              column  missing_values  missing_percentage
0   company_response            9701               52.32
1  consumer_disputes            3304               17.82

In [7]:
df_train["company_response"] = df_train.company_response.fillna(method="bfill")
df_test["company_response"] = df_test.company_response.fillna(method="bfill")